page-home {

  #heading {
    font-size: 1.75em;
    line-height: 0;
  }

  #slide {
    height: 75%;
    padding: 0;
  }

  #grid {
    align-items: center;
    padding: 0;
  }

  .main-btn {
    width: 7em;
    height: 7em;
  }

  .main-btn-icon {
    font-size: 3.5em;
  }

  .main-btn-text {
    position: relative;
    font-size: 1.5em;
    left: 0.15em;
  }

  .secbutton {
    width: 4em;
    height: 4em;
  }

  #sad-face {
    font-size: 5em;
  }
  
}
