<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="goHome()">
        <img src="assets/imgs/logo.png" class="home-icon">
      </button>
    </ion-buttons>
    <ion-title text-center>Profile</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [navPush]="toSettingsPage">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="{{this.image}}" id="main-pic">
      </ion-avatar>
      <div text-center>
        <ion-spinner *ngIf="!name"></ion-spinner>
        <p id="loading-text" *ngIf="!intro">Wait for it...</p>
        <p id="heading">{{name}}</p>
        <p id="subtitle" *ngIf="intro">{{intro}}</p>
      </div>
    </ion-item>
    <ion-item class="profile-item" *ngIf="bio">
      <div text-center>
        <p class="subheading">BIO</p>
        <ion-spinner *ngIf="!bio"></ion-spinner>
        <p>{{bio}}</p>
      </div>
    </ion-item>
    <ion-item *ngIf="favGroup">
      <div text-center>
        <p class="subheading">FAVOURITE GROUP</p>
      </div>
      <ion-item (click)="goToGroupProfile()">
        <ion-avatar item-start>
          <img src="{{this.favGroup?.val().image}}" class="group-img">
        </ion-avatar>
        <h2>{{this.favGroup?.val().name}}</h2>
        <p>{{this.favGroup?.val().category}}</p>
      </ion-item>
    </ion-item>
  </ion-list>

  <ion-fab bottom right class="padded-fab">
    <button ion-fab (click)="editProfile()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>