page-signup-details {
  
  #heading {
    color: gray;
  }

  #small-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
  }

  .button-margin {
    margin-top: 20px;
  }

  #alert {
    justify-content: center;
    display: flex;
  }

  #alert-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3.25em;
    color: map-get($colors, primary);
  }

  #alert-text {
    padding-left: 20px;
    text-align: left;
    font-size: 1.1em;
  }

}
